---
title: SMT
links:
  - name: Home
    href: /
  - name: System Management
    href: /system-management
  - name: Network Configuration
    href: /protect/config.htm
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/assets/js/index.js" defer type="module"></script>
    {% for script in scripts %}
    <script src="{{ script }}" defer type="module"></script>
    {% endfor %}
    {% for sheet in css %}
    <link rel="stylesheet" href="{{ sheet }}" />
    {% endfor %}
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <section>
    <nav>
      <a href="/"><img src="assets/smt.png" width="300px" /></a>
      {% for link in links %}
      <a href="{{ link.href }}">{{ link.name }}</a>
      {%- endfor -%}
    </nav>
    </section>
    <main>
      {{ content }}
    </main>
    <section class="sys-info">
      <div>Date: <span id="system-date">___</span></div>
      <div>Time: <span id="system-time">___</span></div>
      <div>Chip Date: <span id="chip-date">___</span></div>
      <div>Chip Time: <span id="chip-time">___</span></div>
      <div>System Hours: {{ sysInfo.hours }}</div>
      <div>MAC: {{ sysInfo.mac }}</div>
      <div>Remote: {{ sysInfo.rem }}</div>
      <div class="led-status">
        <h3>System Status</h3>
        <div id="flow-led">{% include cog %}<span>Flow</span></div>
        <div id="rinse-led">{% include cog %}<span>Rinse</span></div>
        <div id="chem1-led">{% include cog %}<span>Chem 1</span></div>
        <div id="chem2-led">{% include cog %}<span>Chem 2</span></div>
        <div id="sensors-led">{% include cog %}<span>Sensors</span></div>
        <div id="motor-led">{% include cog %}<span>Motor En</span></div>
        <div id="chem1-on-led">{% include cog %}<span>Chem 1 ON</span></div>
        <div id="chem2-on-led">{% include cog %}<span>Chem 2 ON</span></div>
      </div>
    </section>
  </body>
</html>
