---
title: SMT
links:
  - name: Home
    href: /
  - name: Users
    href: /users
  - name: Remotes
    href: /remotes
  - name: Network Configuration
    href: /protect/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/assets/js/index.js" defer type="module"></script>
    {% for script in scripts %}
    <script src="{{ script }}" defer type="module"></script>
    {% endfor %}
    {% for sheet in css %}
    <link rel="stylesheet" href="{{ sheet }}" />
    {% endfor %}
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      {% for link in links %}
      <a href="{{ link.href }}">{{ link.name }}</a>
      {%- endfor -%}
    </nav>
    <main>
      {{ content }}
    </main>
    <div class="sys-info sticky">
      <div>Date: <span id="system-date">___</span></div>
      <div>Time: <span id="system-time">___</span></div>
      <div>Chip Date: <span id="chip-date">___</span></div>
      <div>Chip Time: <span id="chip-time">___</span></div>
      <div>System Hours: {{ sysInfo.hours }}</div>
      <div>MAC: {{ sysInfo.mac }}</div>
      <div>Remote: {{ sysInfo.rem }}</div>
    </div>
  </body>
</html>
