---
layout: layout.liquid
scripts: [/assets/js/home.js]
css: [/assets/home.css]
---
<div>
<section>
  <h3>System Information</h3>
  <form id="sys-info-form" class="two-by-grid-form">
    <label for="sys-name-input">Name:</label>
    <input name="sys-name-input" type="text" value="{{ sysInfo.name }}" disabled/>
    <label for="sys-type-input">Type:</label>
    <select name="sys-type-input" value="{{ sysInfo.type }}" disabled>
      {%- for option in sysInfo.typeOptions %}
      <option value="{{ forloop.index }}"
      {%- if forloop.index == sysInfo.type %}
      selected
      {%- endif %}>
      {{ option }}
      </option>
      {%- endfor %}
    </select>
    <input type="submit" value="Edit">
  </form>
</section>

<section>
  <h3>Chemical Info</h3>
  <h4>Chem 1</h4>
  <form id="chem-1-form" class="two-by-grid-form">
    <label for="chem1-brand">Brand:</label>
    <input name="chem1-brand" type="text" value="{{ chem.chem_1_brand }}" disabled>
    <label for="chem1-dilution">Dilution:</label>
    <input name="chem1-dilution" type="text" value="{{ chem.chem_1_dilution }}" disabled>
    <input type="submit" name="chem-1-edit-button" value="Edit">
  </form>
  <h4>Chem 2</h4>
  <form id="chem-2-form" class="two-by-grid-form">
    <label for="chem2-brand">Brand:</label>
    <input name="chem2-brand" type="text" value="{{ chem.chem_2_brand }}" disabled>
    <label for="chem2-dilution">Dilution:</label>
    <input name="chem2-dilution" type="text" value="{{ chem.chem_2_dilution }}" disabled>
    <input type="submit" name="chem-2-edit-button" value="Edit">
  </form>
</section>
</div>
<div>
  <section class="led-status">
    <h3>System Status</h3>
    <div id="flow-led">{% include cog %}<span>Flow</span></div>
    <div id="rinse-led">{% include cog %}<span>Rinse</span></div>
    <div id="chem1-led">{% include cog %}<span>Chem 1</span></div>
    <div id="chem2-led">{% include cog %}<span>Chem 2</span></div>
    <div id="sensors-led">{% include cog %}<span>Sensors</span></div>
    <div id="motor-led">{% include cog %}<span>Motor En</span></div>
    <div id="chem1-on-led">{% include cog %}<span>Chem 1 ON</span></div>
    <div id="chem2-on-led">{% include cog %}<span>Chem 2 ON</span></div>
  </section>
</div>
<div>
  <section>
    <a class="float-link" href="user-man.html">Manage</a>
    <h3>Users</h3>
    <table id="users-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Permit</th>
        </tr>
      </thead>
    </table>
  </section>
</div>
<div>
  <section>
    <a class="float-link" href="remote-man.html">Manage</a>
    <h3>Remotes</h3>
    <table id="remotes-table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Visible</th>
        </tr>
      </thead>
    </table>
  </section>
</div>


